<!DOCTYPE HTML>
<html>
<head>
<title>Category: {{category_name}}</title>
<link rel="stylesheet" href={{ url_for('static', filename='css/home.css') }} />
<link rel="stylesheet" href={{ url_for('static', filename='css/topStyle.css') }} />
</head>
<body>
<div id="title">
	<a href="/">
		<img id="logo" src= {{ url_for('static', filename='images/logo.jpg') }} />
	</a>
	<form>
		<input id="searchBox" type="text" name="searchQuery">
		<input id="searchButton" type="submit" value="Search">
	</form>

	{% if not logged_in %}
	<div id="signInButton">
		<a class="link" href="/login_form">Sign In</a>
	</div>
	{% else %}
	<div class="dropdown">
		<button class="dropbtn">Hello, <br>{{first_name}}</button>
		<div class="dropdown-content">
			<a href="/account/orders">Your orders</a>
			<a href="/account/profile">Your profile</a>
			<hr>
			<a href="/logout">Sign Out</a>
		</div>
	</div>
	{% endif %}
	<div id="cart">
		<a class="link" href="/cart">
			<img src={{url_for('static', filename='images/shopping_cart.jpg')}} id="cartIcon" />
			CART {{num_items}}
		</a>
	</div>
</div>

<div>
	<h2>Showing all products of Category {{category_name}}:</h2>
	{% for item_data in data %}
	<table>
		<tr id="product_name">
			{% for row in item_data %}
			<td>
				{{row[1]}}
			</td>
			{% endfor %}
		</tr>
		<tr id="product_image">
			{% for row in item_data %}
			<td>
				<a href="/product_description?product_id={{row[0]}}">
					<img src={{ row[3] }} id="item_image" />
				</a>
			</td>
			{% endfor %}
		</tr>
		<tr id="product_price">
			{% for row in item_data %}
			<td>
				${{row[2]}}
			</td>
			{% endfor %}
		</tr>
	</table>
	{% endfor %}
</div>
</body>
</html>
