<!DOCTYPE HTML>
<html>
<head>
<title> My e-commerce Store - add item to Store </title>
</head>
<body>
<h2> Add item to Store </h2>

<p>Note: use full path for txt file: "/your/full/path/static/store_items/tools/impact_wrench/data.txt", for image use: "/static/store_items/tools/impact_wrench/image.jpg"</p>

<form action="/add_item_to_store" method="POST" enctype="multipart/form-data">
	Data: <input type="text" name="datafile"><br>
	Image: <input type="text" name="imagefile"><br>
	Category: <select name="category">
		{% for row in categories %}
			<option value="{{ row[0] }}">{{ row[1] }}</option>
		{% endfor %}
	</select><br>
	<input type="submit">
</form>
</body>
</html>

